.cropper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_cropper {
  border: 1px solid rgba(94, 94, 94, 0.358);
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  width: 60%;
  height: 580px;
}

.card_cropper_header {
  font-size: large;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.container_cropper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 25px;
  height: 250px;
  justify-content: center;
}

.container_prev {
  display: flex;
}

.oscurecer {
  filter: brightness(50%);
  height: 250px;
}

.cropper_img {
  height: 250px;
  border-radius: 100%;
  position: absolute;
}
