<div class="container">
  <h1>contacts</h1>
  <mat-grid-list cols="3" rowHeight="30px">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>5</mat-grid-tile>
  </mat-grid-list>
  <br />

  <mat-grid-list cols="2" rowHeight="30px">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>5</mat-grid-tile>
  </mat-grid-list>
  <br />
</div>
<hr />

<mat-accordion *ngFor="let modulo of permisos; let i = index">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> {{ modulo.modulo }}</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="container">
      <table class="table">
        <tbody>
          <tr *ngFor="let permiso of modulo.permisos">
            <th scope="row">
              <input
                class="form-check-input"
                type="checkbox"
                [value]="permiso.id"
                [checked]="permiso.select"
                (change)="onChangePermisos($event, i)"
              />
            </th>
            <td>{{ permiso.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<section class="mt-5 mb-5">
  <div class="example-button-row">
    <button mat-raised-button color="primary" (click)="guardarPermisos()">
      Guardar
    </button>
  </div>
</section>
