<div class="container">
  <h1>contacts</h1>
  <mat-grid-list cols="3" rowHeight="30px">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>5</mat-grid-tile>
  </mat-grid-list>
  <br />

  <mat-grid-list cols="2" rowHeight="30px">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>5</mat-grid-tile>
  </mat-grid-list>
  <br />
</div>
<hr />

<section>
  <h4>Basic mat-select</h4>
  <mat-form-field appearance="fill">
    <mat-label>Favorite food</mat-label>
    <mat-select>
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{ food.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</section>

<section>
  <h4>Sexo</h4>
  <mat-form-field appearance="fill">
    <mat-label>Seleccione sexo</mat-label>
    <mat-select>
      <mat-option
        *ngFor="let sexo of sexos"
        [value]="sexo.value"
        (click)="changeSexo(sexo.value)"
      >
        {{ sexo.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</section>
