<div>
  <h1 mat-dialog-title>Usuario</h1>
  <div mat-dialog-content>
    <div
      style="
        display: flex;
        flex-direction: column;
        margin: 1rem auto;
        max-width: 600px;
        padding: 1rem;
      "
    >
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="data.number"
          type="number"
          placeholder="Ingrese number"
          autocomplete="off"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          [(ngModel)]="data.first_name"
          type="text"
          placeholder="Ingrese nombre"
          autocomplete="off"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          [(ngModel)]="data.last_name"
          type="text"
          placeholder="Ingrese Apellido"
          autocomplete="off"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          [(ngModel)]="data.gender"
          type="text"
          placeholder="Ingrese genero"
          autocomplete="off"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          [(ngModel)]="data.email"
          type="text"
          placeholder="Ingrese email"
          autocomplete="off"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          [(ngModel)]="data.password"
          type="text"
          placeholder="Ingrese password"
          autocomplete="off"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          [(ngModel)]="data.rol"
          type="text"
          placeholder="Ingrese rol"
          autocomplete="off"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          [(ngModel)]="data.permisos"
          type="text"
          placeholder="Ingrese permisos"
          autocomplete="off"
        />
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="cancelar()">Cancelar</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>
      Confirmar
    </button>
  </div>
</div>
