$primary: rgb(44, 65, 179);
$secondary: #f4aa0b;

.diag_crear {
  height: 500px;
}

.diag_crear_buttons {
  width: 800px;
}

.nav_backgroud {
  background-color: $primary;
}

.modulos {
  width: 95%;
  margin-left: 5px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
  height: 40px !important;
}

::ng-deep .mat-form-field-infix {
  padding-top: 1px !important;
}
