$primary: rgb(44, 65, 179);
$secondary: #f4aa0b;

.mat-form-field {
  font-size: 10px;
  width: 100px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: -10px;
}

td,
th {
  width: 5%;
  font-size: small;
}

td {
  border: 1px solid rgb(182, 182, 182);
}

th {
  background: $primary;
  border: 1px solid rgb(228, 228, 228);
  color: white;
}

.mat-header-row {
  position: sticky;
  top: 0;
  z-index: 10;
  height: 30px;
}

.mat-row {
  height: 30px;
}

.example-container {
  height: 400px;
  overflow: auto;
}

::ng-deep .mat-sort-header-arrow {
  color: rgb(223, 223, 223);
}

::ng-deep .specific-class > .mat-expansion-indicator:after {
  color: rgb(223, 223, 223);
}

mat-paginator {
  margin-top: 5px;
}

mat-form-field {
  margin-top: 5px;
}

th.mat-column-id,
th.mat-column-number,
th.mat-column-first_name,
th.mat-column-last_name,
th.mat-column-gender,
th.mat-column-email,
th.mat-column-rol,
th.mat-column-permisos {
  padding-left: 8px;
}

td.mat-column-id,
td.mat-column-number,
td.mat-column-first_name,
td.mat-column-last_name,
td.mat-column-gender,
td.mat-column-email,
td.mat-column-rol,
td.mat-column-permisos {
  padding-left: 8px;
}

.mat-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}

.demo-button-container {
  padding-bottom: 8px;
  margin-top: 4px;
}

.demo-button + .demo-button {
  margin-left: 4px;
}

/* fin tabla */

.mat-form-field + .mat-form-field {
  margin-left: 4px;
}

.mat-expansion-background,
.mat-focus-indicator,
.mat-expansion-panel-header {
  background: $primary;
  color: white;
}

#mat-expansion-panel-header-0 {
  background: $primary;
  color: white;
}

.disable_ripple:hover {
  background: $primary;
}

mat-panel-title:hover {
  background: $primary;
}

mat-expansion-panel-header {
  height: 30px;
}

.mat-expansion-toggle-indicator-after {
  height: 30px;
}

mat-expansion-panel-header:hover {
  background: $primary;
}

.mat-option {
  background: white;
  color: black;
}

.mat-row {
  &.demo-row-is-clicked {
    background: $secondary;
    td {
      border: 1px solid #f3f3f3;
      color: white;
    }
  }
}

.border {
  border: 1px solid rgb(196, 196, 196);
  margin: 2px 2px 2px 2px;
}
