<div class="login-container" [ngStyle]="backgroundStyle">
  <div class="login-form">
    <img [src]="$imagesRoutes.LOGO" class="login-form-logo" />
    <div class="login-form-content" app-login-form></div>
    <div class="login-form-footer">
      <div class="login-form-footer__links">
        <a href="#">Acerca de</a>
        <a href="#">Contactanos</a>
        <a href="#">Blog</a>
      </div>
      <div class="login-form-footer__socials">
        <ng-container *ngFor="let icon of socialIcons">
          <fa-icon
            [icon]="icon"
            class="login-form-footer__socials_social"
          ></fa-icon>
        </ng-container>
      </div>
    </div>
  </div>
</div>
