<h1>Agregar Archivo</h1>
<form [formGroup]="formGroup">
  <div>
    <span>Adjunta tu Archivo</span>
    <br />
    <input type="file" (change)="getFile($event)" />
  </div>

  <br />

  <div class="mt-2">
    <button type="button" (click)="sendFile()">Enviar Archivo</button>
  </div>

  <br />

  <mat-form-field appearance="fill">
    <mat-label>Categorias</mat-label>
    <mat-select formControlName="id_category">
      <mat-option *ngFor="let category of filesCategories" [value]="category.id"
        >{{ category.category_name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br />

  <mat-form-field appearance="fill">
    <mat-label>Nombre del archivo</mat-label>
    <input matInput name="file_name" formControlName="file_name" type="text" />
  </mat-form-field>

  <br />

  <button (click)="register()" [disabled]="formGroup.invalid || !enviar">
    Register me!
  </button>
</form>
