.main-container {
    margin-top: 40px;
    margin-bottom: 150px;
}

.puntero {
    cursor: pointer;
}

.chat-window {
    padding: 10px;
    width: 300px;
    height: 400px;
    overflow: hidden;
    border: 1px solid #4080FF;
    border-radius: 20px;
}

.app-mensajes {
    overflow-y: scroll;
    height: 270px;
    /*background:gray;*/
    padding: 5px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.font-small {
    font-size: 10px;
}


/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}